{% load elements %}
<div class=" container-fluid">
	<div class='row'>
		{% if player.teams|length > 0 %}
			{% for pteam in player.teams %}
				{% if pteam.has_game %}
							Results with Team {{ pteam.get_team_name_or_members }}:
						{% for match in pteam.matches_chronologic %}
							{% match_badge match pov_team=pteam t1class='success' t2class='danger' %}
						{% endfor %}
						<div class="container-fluid">
							<div class="row">
								(Score {{pteam.team_score}})
							</div>
							<hr>
						</div>
				{% endif %}
			{%endfor%}
		{% endif %}
	</div>
</div>