{% extends 'base.html' %}
{% block title %}Create Team{% endblock %}

{% block content %}
{% load humanize %}
<div class="container">
	<form method="post">{% csrf_token %}
		{% if form.errors %}
	   		<div class="alert alert-danger" role="alert">
	   			{{ form.errors.error }}
			</div>
		{% else %}
	   		<div class="alert alert-success" role="alert">
				Score is team-based, rating is player-based
			</div>
		{% endif %}
	    <table class="table table-striped table-bordered table-hover">
		    {{ form.as_table }}
	    </table>
	    <input class="btn btn-primary btn-block" type="submit" value="Save" />
	</form>
</div>
{% endblock %} 