{% load join_by_attr signed dict_get attrib_get list_get%}

{% if object_list %}
<div class="table-responsive">
<table id="teams-realtime" class="table table-striped table-bordered table-hover" >
	<thead>
		<tr>
			<th>#</th>
			<th>Team Name</th>
			<th>Members</th>
			<th>Score</th>
			<th>Strength</th>
			<th>Win:Draw:Lose</th>
			<th>Close Win:Lose</th>
			<th>Goals Own:Foreign</th>
		</tr>
	</thead>
{% for team in object_list %}
    <tr>
    	<th></th>
    	<td>{{ team.name }}</td>
			<td>{% for player in team.players.all %}{{player.nick}}
					({{player.rating_as_int}}{% if player.pk in player_realtime.keys %}{{ player_realtime|dict_get:player.pk|attrib_get:'elo_diff'|signed}}={{ player_realtime|dict_get:player.pk|attrib_get:'elo_as_int'}}{% endif%}),
	    	    {% endfor %}
	    	</td>
    	
    	<!-- team_score -->
    	{% if team.id in team_realtime.keys %}
			<td data-order="{{ team_realtime|dict_get:team.id|attrib_get:'team_score'}}">{{ team.team_score }}
				<br />{{ team_realtime|dict_get:team.id|attrib_get:'team_score_diff'|signed}}
				<br />={{ team_realtime|dict_get:team.id|attrib_get:'team_score'}}
			</td>
		{% else %}
			<td data-order="{{ team.team_score }}">{{ team.team_score }}</td>
		{% endif%}

		<!-- strength -->
		<td data-order="{% if team.id in team_realtime.keys %}{{ team_realtime|dict_get:team.id|attrib_get:'strength'}}{% else %}{{ team.team_rating_as_int }}{% endif%}">{{ team.team_rating_as_int}}
			{% if team.id in team_realtime.keys %}
				<br />{{ team_realtime|dict_get:team.id|attrib_get:'strength_diff'|signed}}
				<br />={{ team_realtime|dict_get:team.id|attrib_get:'strength'}}
			{% endif%}
		</td>
		
		<!-- Team Win Draw Lose -->
		{% if team.id in team_realtime.keys %}
			<td data-order="{{ team_realtime|dict_get:team.id|attrib_get:'team_wdl_factor'}}">{{ team.team_win | length }}:{{ team.team_draw | length }}:{{ team.team_lose | length }}
				<br />{{ team_realtime|dict_get:team.id|attrib_get:'team_win_diff' | signed }}:{{ team_realtime|dict_get:team.id|attrib_get:'team_draw_diff' | signed }}:{{ team_realtime|dict_get:team.id|attrib_get:'team_lose_diff' | signed }}
				<br />={{ team_realtime|dict_get:team.id|attrib_get:'team_win' | length }}:{{ team_realtime|dict_get:team.id|attrib_get:'team_draw' | length }}:{{ team_realtime|dict_get:team.id|attrib_get:'team_lose' | length }}
			</td>
		{% else %}
			<td>{{ team.team_score }}</td>
		{% endif%}

		<!-- Team Close Win Lose -->
		{% if team.id in team_realtime.keys %}
			<td data-order="{{ team_realtime|dict_get:team.id|attrib_get:'close_wl_factor'}}">{{ team.close_win | length }}:{{ team.close_lose | length }}
				<br />{{ team_realtime|dict_get:team.id|attrib_get:'close_win_diff' | signed }}:{{ team_realtime|dict_get:team.id|attrib_get:'close_lose_diff' | signed}}
				<br />={{ team_realtime|dict_get:team.id|attrib_get:'close_win' | length }}:{{ team_realtime|dict_get:team.id|attrib_get:'close_lose' | length }}
			</td>
		{% else %}
			<td>{{ team.team_score }}</td>
		{% endif%}
		
		<!-- Goals Own Foreign -->
		
		
{% endfor %}
</table>
</div>
<script>loadDataTables()</script>
{% endif %}