{% extends 'base.html' %}
{% block title %}Details Team {{object.name}}{% endblock %}
{% block var_link %}{% endblock %}


{% block head %}
{% endblock %}


{% block content %}
{% load join_by_attr dict_get attrib_get signed %}
<h1>Details Team {{object.name}} ({{ object.team_rating_as_int}})</h1>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" >
	<tr>
		<th>Members</th>
		<td><ul class="ul-disabled">{% for player in object.players.all %}<li><a href="/player/{{player.pk}}/">{{player.nick}}
				({{player.rating_as_int}}{% if player.pk in player_realtime.keys %}{{ player_realtime|dict_get:player.pk|attrib_get:'elo_diff'|signed}}={{ player_realtime|dict_get:player.pk|attrib_get:'elo_as_int'}}{% endif%})</a></li>
	   	    {% endfor %}</ul>
    	</td>

	<tr>
		<th>Score:</th>
    	<td>{{ object.team_score }}</td>
	</tr>

	<tr>
		<th>Win ({{ object.get_win_draw_lose.0 | length }}):</th>
    	<td class="win">
    		<ul>
    		{% for match in object.get_win_draw_lose.0 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
    	</td>
	</tr>

	<tr>
		<th>Draw ({{ object.get_win_draw_lose.1 | length }}):</th>
    	<td class="draw">
    		<ul>
    		{% for match in object.get_win_draw_lose.1 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
   		</td>
	</tr>

	<tr>
		<th>Lost ({{ object.get_win_draw_lose.2 | length }}):</th>
    	<td class="lose">
    		<ul>
    		{% for match in object.get_win_draw_lose.2 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
   		</td>
	</tr>

	<tr>
		<th>Close win ({{ object.close_win_lose.0 | length }}):</th>
    	<td class="win">
    		<ul>
    		{% for match in object.close_win_lose.0 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
   		</td>
	</tr>

	<tr>
		<th>Close lose ({{ object.close_win_lose.1 | length }}):</th>
    	<td class="lose">
    		<ul>
    		{% for match in object.close_win_lose.1 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
   		</td>
	</tr>
    <tr>
</table>
</div>
{% endblock %}
