{% extends 'base.html' %}
{% load ladder %}
{% block title %}Ladder{% endblock %}
{% block description %}Here you can have a look at all single-player-teams and multi-player-teams. You can see the match results and close matches with a nice bar.{% endblock %}
{% block keywords %}teams, single, multi, player, multiplayer, singleplayer, goals, results, matches, match{% endblock %}

{% block tipps %}
	<div class="alert alert-success" role="alert">
		Click on Items!
	</div>
	<hr />
{% endblock %}

{% block head %}
<script>
</script>
{% endblock %} 


{% block content %}
{% load join_by_attr %}
<div class="container-fluid">
{% ladder request %}
</div>
{% endblock %} 