{% load join_by_attr signed dict_get attrib_get list_get round to_percent %}
<style>
.bg-success{
	background-color: #28a74580 !important;
}
.bg-danger {
	background-color: #dc354580 !important;
}
.bg-dark {
	background-color: #343a4080 !important;
}
.bg-warning {
	background-color: #ffc107b3 !important;
}
.badge{
	margin: 1px;
}
</style>
<script>
$(function () {
	  $('[data-toggle="popover"]').popover()
})
function loadDataTables(){
    var t = $('#teams-realtime').DataTable( {
    	"columnDefs": [ {
    		"searchable": false,
    		"targets": 0
    	} ],
    	"order": [[ 2, 'desc' ]]
    } );
    t.on( 'order.dt search.dt', function () {
    	t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
    		cell.innerHTML = i+1;
    	} );
    } ).draw();
}
</script>
<div class="table-responsive">
<table id="teams-realtime" class="table table-striped table-bordered table-hover" >
	<thead>
		<tr>
			<th>#</th>
			<th>Team</th>
			<th>Score</th>
			<th>Win<wbr>:Draw<wbr>:Lose</th>
			<th>Close Win<wbr>:Lose</th>
			<th>Goals</th>
		</tr>
	</thead>
{% for team in object_list %}{% if team.get_win_draw_lose_sum %}
	<tr>
		<th></th>
		<td data-order="{{ team.team_rating_as_int }}">
			<span class="btn btn-link" tabindex="0" data-trigger="focus" data-toggle="popover" data-html="true" data-content="			
			<a href='{% url 'team-details' team.pk %}'>{{ team.get_team_name_or_members }} ({{ team.team_rating_as_int }})</a>
		
			{% if not team.is_player_team or not team.name %}
			<ul>
			{% for player in team.players.all %}
				<li><a href='{% url 'player-details' player.pk %}'>{{player.nick}} ({{player.rating_as_int}})</a></li>
			{% endfor %}
			</ul>
			{% endif %}
			"><strong>{{ team.get_team_name_or_members }}</strong> ({{ team.team_rating_as_int }}
				{% if team.id in team_realtime.keys %}
					{% with rt_team=team_realtime|dict_get:team.id %}
						<span class="text-{% if rt_team.strength_diff < 0 %}danger{% elif rt_team.strength_diff > 0%}success{% else %}primary{%endif%}">
							{{ rt_team.strength_diff|signed}}={{ rt_team.strength}}
						</span>
					{% endwith %}
				{% endif %})
			<small>{% if not team.is_player_team and team.teamname %} - {{ team.players.all|join_by_attr:"nick" }}{% endif %}</small></span>
		</td>

		<!-- team_score -->
		<td data-order="{% if team.id in team_realtime.keys %}{{ team_realtime|dict_get:team.id|attrib_get:'team_score'}}{% else %}{{ team.team_score }}{% endif %}">
			<div class="progress" style="height: 30px;" tabindex="0" data-trigger="focus" data-toggle="popover" data-html="true" data-content="in {{ team.get_win_draw_lose_sum }} game{{team.get_win_draw_lose_sum|pluralize}}">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="{{ team.team_score|to_percent:max_score}}" aria-valuemin="0" aria-valuemax="{{ team.team_score|to_percent:max_score}}"><strong>{{ team.team_score }}</strong></div>
			</div>
			{% if team.id in team_realtime.keys %}
				{% with rt_team=team_realtime|dict_get:team.id %}
						<div class="progress" style="height: 20px; opacity:0.5;">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="{{ rt_team.team_score|to_percent:max_score}}" aria-valuemin="0" aria-valuemax="{{ max_score }}">{{ rt_team.team_score }}({{ rt_team.team_score_diff|signed }})</div>
						</div>
				{% endwith %}
			{% endif%}
		</td>

		<!-- Team Win Draw Lose -->
		<td data-order="{% if team.id in team_realtime.keys %}{{ team_realtime|dict_get:team.id|attrib_get:'team_wdl_factor'}}{% else %}{{ team.win_lose_factor }}{% endif %}">
			{% if team.has_game %}
				<div class="progress" style="height: 30px;" tabindex="0" data-trigger="focus" data-toggle="popover" data-html="true" data-content="
						{% for match in team.get_win_draw_lose.0 %}
							<a href='{% url 'match-details' match.pk %}' class='badge badge-success'>
							{% if team.pk is match.firstteam.pk %}
								{{match.firstteam_goals}}:{{match.secondteam_goals}}vs.{{match.secondteam.get_team_name_or_members}}
							{% else %}
								{{match.secondteam_goals}}:{{match.firstteam_goals}}vs.{{match.firstteam.get_team_name_or_members}}
							{% endif %}</a>
						{% endfor %}
						{% for match in team.get_win_draw_lose.1 %}
							<a href='{% url 'match-details' match.pk %}' class='badge badge-dark'>
							{% if team.pk is match.firstteam.pk %}
								{{match.firstteam_goals}}:{{match.secondteam_goals}}vs.{{match.secondteam.get_team_name_or_members}}
							{% else %}
								{{match.secondteam_goals}}:{{match.firstteam_goals}}vs.{{match.firstteam.get_team_name_or_members}}
							{% endif %}</a>
						{% endfor %}
						{% for match in team.get_win_draw_lose.2 %}
							<a href='{% url 'match-details' match.pk %}' class='badge badge-danger'>
							{% if team.pk is match.firstteam.pk %}
								{{match.firstteam_goals}}:{{match.secondteam_goals}}vs.{{match.secondteam.get_team_name_or_members}}
							{% else %}
								{{match.secondteam_goals}}:{{match.firstteam_goals}}vs.{{match.firstteam.get_team_name_or_members}}
							{% endif %}</a>
						{% endfor %}"
						>
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ team.get_win_draw_lose_percent.0 }}%" aria-valuenow="{{ team.get_win_draw_lose_percent.0 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.get_win_draw_lose.0 | length }}</strong></div>
					<div class="progress-bar bg-dark" role="progressbar" style="width: {{ team.get_win_draw_lose_percent.1 }}%" aria-valuenow="{{ team.get_win_draw_lose_percent.2 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.get_win_draw_lose.1 | length }}</strong></div>
					<div class="progress-bar bg-danger" role="progressbar" style="width: {{ team.get_win_draw_lose_percent.2 }}%" aria-valuenow="{{ team.get_win_draw_lose_percent.3 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.get_win_draw_lose.2 | length }}</strong></div>
				</div>
				
			{% endif%}
			{% if team.id in team_realtime.keys %}
				{% with rt_team=team_realtime|dict_get:team.id %}
					<div class="progress" style="height: 20px; opacity:0.5;">
						<div class="progress-bar bg-success" role="progressbar" style="width: {{ rt_team.get_win_draw_lose_percent.0 }}%" aria-valuenow="{{ rt_team.get_win_draw_lose_percent.0 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.team_wdl.0 | length }}({{ rt_team.team_wdl_diff.0 | signed }})</div>
						<div class="progress-bar bg-dark" role="progressbar" style="width: {{ rt_team.get_win_draw_lose_percent.1 }}%" aria-valuenow="{{ rt_team.get_win_draw_lose_percent.2 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.team_wdl.1 | length }}({{ rt_team.team_wdl_diff.1 | signed }})</div>
						<div class="progress-bar bg-danger" role="progressbar" style="width: {{ rt_team.get_win_draw_lose_percent.2 }}%" aria-valuenow="{{ rt_team.get_win_draw_lose_percent.3 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.team_wdl.2 | length }}({{ rt_team.team_wdl_diff.2 | signed }})</div>
					</div>
				{% endwith %}
			{% endif %}
		</td>

		<!-- Team Close Win Lose -->
		<td data-order="{% if team.id in team_realtime.keys %}{{ team_realtime|dict_get:team.id|attrib_get:'close_wl_factor'}}{% else %}{{ team.close_wl_factor }}{% endif %}">
			{% if team.close_win_lose.0 or team.close_win_lose.1 %}
				<div class="progress" style="height: 30px;" tabindex="0" data-trigger="focus" data-toggle="popover" data-html="true" data-content="
						{% for match in team.close_win_lose.0 %}
							<a href='{% url 'match-details' match.pk %}' class='badge badge-success'>
							{% if team.pk is match.firstteam.pk %}
								{{match.firstteam_goals}}:{{match.secondteam_goals}}vs.{{match.secondteam.get_team_name_or_members}}
							{% else %}
								{{match.secondteam_goals}}:{{match.firstteam_goals}}vs.{{match.firstteam.get_team_name_or_members}}
							{% endif %}</a>
						{% endfor %}
						{% for match in team.close_win_lose.1 %}
							<a href='{% url 'match-details' match.pk %}' class='badge badge-danger'>
							{% if team.pk is match.firstteam.pk %}
								{{match.firstteam_goals}}:{{match.secondteam_goals}}vs.{{match.secondteam.get_team_name_or_members}}
							{% else %}
								{{match.secondteam_goals}}:{{match.firstteam_goals}}vs.{{match.firstteam.get_team_name_or_members}}
							{% endif %}</a>
						{% endfor %}"
						>
						<div class="progress-bar bg-success" role="progressbar" style="width: {{ team.close_win_lose_percent.0 }}%" aria-valuenow="{{ team.close_win_lose_percent.0 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.close_win_lose.0 | length }}</strong></div>
						<div class="progress-bar bg-danger" role="progressbar" style="width: {{ team.close_win_lose_percent.1 }}%" aria-valuenow="{{ team.close_win_lose_percent.2 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.close_win_lose.1 | length }}</strong></div>
				</div>
			{% endif%}
			{% if team.id in team_realtime.keys %}
				{% with rt_team=team_realtime|dict_get:team.id %}
					{% if rt_team.close_wl.0 or rt_team.close_wl.1 %}
						<div class="progress" style="height: 20px; opacity:0.5;">
								<div class="progress-bar bg-success" role="progressbar" style="width: {{ rt_team.close_win_lose_percent.0 }}%" aria-valuenow="{{ rt_team.close_win_lose_percent.0 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.close_wl.0 | length }} ({{ rt_team.close_wl_diff.0 | signed }})</div>
								<div class="progress-bar bg-danger" role="progressbar" style="width: {{ rt_team.close_win_lose_percent.1 }}%" aria-valuenow="{{ rt_team.close_win_lose_percent.2 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.close_wl.1 | length }} ({{ rt_team.close_wl_diff.1 | signed }})</div>
						</div>
					{% endif%}
				{% endwith %}
			{% endif%}
		</td>

		<!-- Goals Own Foreign -->
		<td data-order="{% if team.id in team_realtime.keys %}{{ team_realtime|dict_get:team.id|attrib_get:'goal_factor'}}{% else %}{{team.goal_factor}}{% endif %}">
			{% if team.goal_own_foreign.0 or team.goal_own_foreign.1 %}
			<div class="progress" style="height: 30px;" tabindex="0" data-trigger="focus" data-toggle="popover" data-html="true" data-content="{{team.goal_factor|signed}}">
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ team.goal_own_foreign_percent.0 }}%" aria-valuenow="{{ team.goal_own_foreign_percent.0 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.goal_own_foreign.0 }}</strong></div>
					<div class="progress-bar bg-danger" role="progressbar" style="width: {{ team.goal_own_foreign_percent.1 }}%" aria-valuenow="{{ team.goal_own_foreign_percent.2 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.goal_own_foreign.1 }}</strong></div>
			</div>
			{% endif%}
		{% if team.id in team_realtime.keys %}
			{% with rt_team=team_realtime|dict_get:team.id %}
				<div class="progress" style="height: 20px; opacity:0.5;">
						<div class="progress-bar bg-success" role="progressbar" style="width: {{ rt_team.goal_own_foreign_percent.0 }}%" aria-valuenow="{{ rt_team.goal_own_foreign_percent.0 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.realtime_goal_own_foreign.0 }} ({{ rt_team.goal_own_foreign_diff.0 | signed }})</div>
						<div class="progress-bar bg-danger" role="progressbar" style="width: {{ rt_team.goal_own_foreign_percent.1 }}%" aria-valuenow="{{ rt_team.goal_own_foreign_percent.2 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.realtime_goal_own_foreign.1 }} ({{ rt_team.goal_own_foreign_diff.1 | signed }})</div>
				</div>
			{% endwith %}
		{% endif%}
		</td>
{% endif %}{% empty %}
<tr>
	<th></th>
	<td>
		<a href="{% url 'player-new' %}" class="btn btn-warning">Create players first</a>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
{% endfor %}
</table>
<script>loadDataTables()</script>
</div>