{% extends 'base.html' %}
	{% block title %}
		Player overview
		{% if room.id_%}
			 {{room.name}}
		{%endif%}
	{% endblock %}
{% block var_link %}{% endblock %}

{% block content %}
{% load join_by_attr %}
<h1>{{object.nick}} Detail</h1>

<table id="player-detail" class="table table-striped table-bordered table-hover" >
	<thead>
		<tr>
			<th>ID</th>
			<th>Team Name</th>
			<th>Members</th>
			<th>Score</th>
			<th>Strength</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lost</th>
		</tr>
	</thead>
    <tr>
    	<th>{{ object.pk }}</th>
    	<td>{{ object.name }}</td>
    	<td>{{ object.players.all|join_by_attr:"nick" }}</td>
    	<td>{{ object.team_score }}</td>
    	<td>{{ object.team_rating_as_int}}</td>
    	<td class="win"><a href="#">{{ object.get_win_draw_lose.0 | length }}</a>
    		<ul>
    		{% for match in object.get_win_draw_lose.0 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
    	</td>
    	<td class="draw"><a href="#">{{ object.get_win_draw_lose.1 | length }}</a>
    		<ul>
    		{% for match in object.get_win_draw_lose.1 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
    		</td>
    	<td class="lost"><a href="#">{{ object.get_win_draw_lose.2 | length }}</a>
    		<ul>
    		{% for match in object.get_win_draw_lose.2 %}
    			<li>
    			<a href="/match/{{match.pk}}/">
    			#{{ match.pk }}: {{match.firstteam.name}} vs. {{match.secondteam.name}} ({{match.firstteam_goals}}:{{match.secondteam_goals}})
    			</a>
    			</li>
    		{% endfor %}
    		</ul>
    		</td>
</table>

{% endblock %} 