{% load elements signed dict_get match_close %}
{% with matches=team.matches_chronologic %}
{% with close=matches|match_close %}
<div class=" container-fluid">
	<div class='row'>
		<table class="table table-sm text-center">
			<tr>
				{% if not team.is_player_team %}
				<th>Players:</th>
			</tr>
			<tr>
				<td>
					{% for player in team.players.all %}
						{% player_badge player %}
					{% endfor %}
				</td>
				{% endif %}
			</tr>

{% if team.has_game %}
			<tr><th>Win/draw/lose:</th></tr>
			<tr><td>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ team.get_win_draw_lose_percent.0 }}%" aria-valuenow="{{ team.get_win_draw_lose_percent.0 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.get_win_draw_lose.0 | length }}</strong></div>
					<div class="progress-bar bg-dark" role="progressbar" style="width: {{ team.get_win_draw_lose_percent.1 }}%" aria-valuenow="{{ team.get_win_draw_lose_percent.2 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.get_win_draw_lose.1 | length }}</strong></div>
					<div class="progress-bar bg-danger" role="progressbar" style="width: {{ team.get_win_draw_lose_percent.2 }}%" aria-valuenow="{{ team.get_win_draw_lose_percent.3 }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ team.get_win_draw_lose.2 | length }}</strong></div>
				</div>
			</td></tr>
			<tr><td>
				{% for match in matches %}
					{% match_badge match pov_team=team t1class='success' t2class='danger' %}
				{% endfor %}
			</td></tr>
			{% if close %}
			<tr><th>Close games:</th></tr>
			<tr><td>
				<div class='progress progress-half'>
					<div class='progress-bar bg-success' role='progressbar' style='width: {{ team.close_win_lose_percent.0 }}%' aria-valuenow='{{ team.close_win_lose_percent.0 }}' aria-valuemin='0' aria-valuemax='100'><strong>{{ team.close_win_lose.0 | length }}</strong></div>
					<div class='progress-bar bg-danger' role='progressbar' style='width: {{ team.close_win_lose_percent.1 }}%' aria-valuenow='{{ team.close_win_lose_percent.2 }}' aria-valuemin='0' aria-valuemax='100'><strong>{{ team.close_win_lose.1 | length }}</strong></div>
				</div>
			<tr><td>{% for close_match in close %}{% match_badge close_match pov_team=team t1class='success' t2class='danger' %}{% endfor %}</td></tr>
				{% if team.id in team_realtime.keys %}
					{% with rt_team=team_realtime|dict_get:team.id %}
						{% if rt_team.close_wl.0 or rt_team.close_wl.1 %}
							<div class='progress progress-realtime'>
								<div class='progress-bar bg-success' role='progressbar' style='width: {{ rt_team.close_win_lose_percent.0 }}%' aria-valuenow='{{ rt_team.close_win_lose_percent.0 }}' aria-valuemin='0' aria-valuemax='100'>{{ rt_team.close_wl.0 | length }} ({{ rt_team.close_wl_diff.0 | signed }})</div>
								<div class='progress-bar bg-danger' role='progressbar' style='width: {{ rt_team.close_win_lose_percent.1 }}%' aria-valuenow='{{ rt_team.close_win_lose_percent.2 }}' aria-valuemin='0' aria-valuemax='100'>{{ rt_team.close_wl.1 | length }} ({{ rt_team.close_wl_diff.1 | signed }})</div>
							</div>
						{% endif%}
					{% endwith %}
				{% endif%}
			</td></tr>
			{% endif%}
		</table>
		
			<div class="popover-content d-none">
			{% for match in matches %}
				<a href='{% url 'match-details' match.pk %}' class='badge badge-{% if match.goal_difference > 0 %}success{% elif match.goal_difference < 0 %}danger{% else %}dark{% endif %}'>
				{% if team.pk is match.firstteam.pk %}
					{{match.firstteam_goals}}:{{match.secondteam_goals}} vs.{{match.secondteam.get_team_name_or_members}}
				{% else %}
					{{match.secondteam_goals}}:{{match.firstteam_goals}} vs.{{match.firstteam.get_team_name_or_members}}
				{% endif %}</a>
			{% endfor %}
			<hr />
			
				<hr>

				
				{% for match in matches|match_close %}
					<a href='{% url 'match-details' match.pk %}' class='badge badge-{% if match.goal_difference == 1 %}success{% elif match.goal_difference == -1 %}danger{% endif %}'>
					{% if team.pk is match.firstteam.pk %}
						{{match.firstteam_goals}}:{{match.secondteam_goals}} vs.{{match.secondteam.get_team_name_or_members}}
					{% else %}
						{{match.secondteam_goals}}:{{match.firstteam_goals}} vs.{{match.firstteam.get_team_name_or_members}}
					{% endif %}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% else %}
No games played, yet.
{% endif%}

{% if team.id in team_realtime.keys %}
	{% with rt_team=team_realtime|dict_get:team.id %}
		<div class="container-fluid">
			<div class="progress progress-realtime">
				<div class="progress-bar bg-success" role="progressbar" style="width: {{ rt_team.get_win_draw_lose_percent.0 }}%" aria-valuenow="{{ rt_team.get_win_draw_lose_percent.0 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.team_wdl.0 | length }}({{ rt_team.team_wdl_diff.0 | signed }})</div>
				<div class="progress-bar bg-dark" role="progressbar" style="width: {{ rt_team.get_win_draw_lose_percent.1 }}%" aria-valuenow="{{ rt_team.get_win_draw_lose_percent.2 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.team_wdl.1 | length }}({{ rt_team.team_wdl_diff.1 | signed }})</div>
				<div class="progress-bar bg-danger" role="progressbar" style="width: {{ rt_team.get_win_draw_lose_percent.2 }}%" aria-valuenow="{{ rt_team.get_win_draw_lose_percent.3 }}" aria-valuemin="0" aria-valuemax="100">{{ rt_team.team_wdl.2 | length }}({{ rt_team.team_wdl_diff.2 | signed }})</div>
			</div>
		</div>
	{% endwith %}
{% endif %}
{% endwith %}
{% endwith %}