{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
	<div class="container">
		<h2>Sign up</h2>
		<form method="post">
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				{{ form.errors }}
				</div>
			{% else %}
				<div class="alert alert-warning" role="alert">
					This is only your login name. Your player name may be another.
				</div>
			{% endif %}
			{% csrf_token %}
			<table class="table table-striped table-bordered table-hover">
				{{ form.as_table }}
			</table>
			<button class="btn btn-primary btn-block" type="submit">Registrieren</button>
			<br />
			<a href="{% url 'login' %}">Login</a>
		</form>
	</div>
{% endblock %}