{% extends 'base.html' %}
	{% block title %}
	{% endblock %}
{% block var_link %}{% endblock %}

{% block head %}
<style>
#match-form td{
border: 0;
}
#match-form, #match-form input, #match-form select{
	text-align: center;
}
#id_firstteam, #id_secondteam, #id_firstteam_goals, #id_secondteam_goals, .plus, .minus{
	height: 50px;
}
#firstteam-controls *{
	float: left;
}
#secondteam-controls *{
	float: right;
}

#id_firstteam, #id_secondteam{
	width: 100%;
}
#id_firstteam_goals, #id_secondteam_goals{
	width: 29%;
	min-width:50px;
}
.plus{
	width: 50%;
}
.minus{
	width: 20%;
}
.middle{
	line-height: 3em;
	font-weight: bolder;
}
</style>
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container">
<form method="post">{% csrf_token %}
<table id="match-form" class="table table-bordered table-hover">
   	<tr>
		<td>{{ form.firstteam }}</td>
		<td class="middle">vs.</td>
		<td>{{ form.secondteam }}</td>
   	</tr>
   	<tr><td colspan=3 style="height: 10px"></td></tr>
   	<tr>
		<td id="firstteam-controls">
			<input class="plus btn btn-success" type="button" value="+" onclick="increment($('#id_firstteam_goals'))" />
			{{ form.firstteam_goals }}
			<input class="minus btn btn-danger" type="button" value="-" onclick="decrement($('#id_firstteam_goals'))" />
		</td>
		<td class="middle">:</td>
		<td id="secondteam-controls">
			<input class="plus btn btn-success" type="button" value="+" onclick="increment($('#id_secondteam_goals'))" />
			{{ form.secondteam_goals }}
			<input class="minus btn btn-danger" type="button" value="-" onclick="decrement($('#id_secondteam_goals'))" />
		</td>
   	</tr>
   	
</table>
<input class="btn btn-primary btn-lg btn-block" type="submit" value="Save !!!" />
</form>
</div>
<div class="container-fluid">
	<div id="match-realtime" class="row" style="margin-top:40px"></div>
</div>
{% endblock %} 