{% extends 'base.html' %}
	{% block title %}
	{% endblock %}
{% block var_link %}{% endblock %}

{% block head %}
<style>
#match-form td{
border: 0;
padding:0;
}
#match-form input{
width: 50px;
height: 40px;
}
/* Spin Buttons modified */
#id_firstteam_goals input[type="number"].mod::-webkit-outer-spin-button, 
#id_firstteam_goals input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1em;
    border-left: 1px solid #bbb;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
}
</style>
{% endblock %}

{% block content %}
{% load humanize %}
<form method="post">{% csrf_token %}
	<table id="match-form" class="table table-bordered table-hover">
    	<tr>
			<td>{{ form.firstteam }}</td>
			<td>vs.</td>
			<td>{{ form.secondteam }}</td>
    	</tr>
    	<tr>
			<td>{{ form.firstteam_goals }}</td>
			<td>:</td>
			<td>{{ form.secondteam_goals }}</td>
    	</tr>
    	
    </table>
    <input type="submit" value="Save" />
</form>
<div id="match-realtime"></div>
{% endblock %} 