{% extends 'base.html' %}
{% block title %}Match overview{% endblock %}
{% block var_link %}{% endblock %}

{% block tipps %}
	<div class="alert alert-success" role="alert">
		The timeline views the Matches with same teams in chronological order.
	</div>
	<hr />
{% endblock %}

{% block head %}
<script>
$(document).ready(function() {
	loadDataTables(1, 'asc');
});
</script>
{% endblock %}


{% block content %}
{% load humanize elements %}
<div class="table-responsive">
<table class="datatable table table-striped table-bordered table-hover" >
	<thead>
		<tr>
			<th>ID</th>
			<th>Time</th>
			<th>First team (and <span class="badge badge-light">Players</span>)</th>
			<th>Second team (and <span class="badge badge-light">Players</span>)</th>
			<th>Result</th>
			<th>Rematches (Timeline)</th>
		</tr>
	</thead>
{% for match in object_list %}
	<tr>
		<th><a href="{% url 'match-details' match.pk %}">{{ match.pk }}</a></th>
		<td data-order="{{match.pk}}" title="{{match.date_time|naturaltime}}">{{ match.date_time }}</td>
		<td title="{{match.firstteam.verbose_name}}">
			{% team_details_badge match.firstteam linkclass='primary'%}
			{% for player in match.firstteam.players.all %}
				{% player_details_badge player %}
			{% endfor %}
		</td>
		<td title="{{match.secondteam.verbose_name}}">
			{% team_details_badge match.secondteam linkclass='secondary'%}
			{% for player in match.secondteam.players.all %}
				{% player_details_badge player %}
			{% endfor %}
		</td>
		<td data-order="{{ match.goal_difference}}">{% match_details_badge match t2show=False%}</td>
		<td data-order="{{match.rematches | length}}">
		{% if match.rematches %}
			<div class="container-fluid" >
				<div class="row">
					{% for rematch in match.rematches_erlier_later.0 %}
						{% match_details_badge rematch match.firstteam t2show=False %}
					{% endfor %}
					<span class="badge badge-success">this</span>
					{% for rematch in match.rematches_erlier_later.1 %}
						{% match_details_badge rematch match.firstteam t2show=False %}
					{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</td>
{% empty %}
    <li>No player yet.</li>
{% endfor %}
</table>
</div>
{% endblock %}
