{% extends 'base.html' %}
{% block title %}Match{% endblock %}
{% block var_link %}{% endblock %}

{% block head %}
<style>
#match-form td{
border: 0;
}
#match-form, #match-form input, #match-form select{
	text-align: center;
}
#id_firstteam, #id_secondteam{
	height: 30px;
}
#id_firstteam_goals, #id_secondteam_goals, .plus, .minus{
	height: 70px;
}
#firstteam-controls *{
	float: left;
}
#secondteam-controls *{
	float: right;
}

#id_firstteam, #id_secondteam{
	width: 100%;
}
#id_firstteam_goals, #id_secondteam_goals{
	width: 29%;
	min-width:50px;
}
.plus{
	width: 50%;
}
.minus{
	width: 20%;
}
.middle{
	display: table-cell;
	vertical-align: middle!important;
}
</style>
<script>
loadLadderRealtime();
$(document).ready(function() {
	$('#new-match-form').submit(function() {
		   return confirm("Is the game really finished and ready for saving?");
	});
	$('.middle').click(function(){
		var x = $('#id_firstteam').find(":selected").val()
		$('#id_firstteam').val($('#id_secondteam').find(":selected").val());
		$('#id_secondteam').val(x);

		x = $('#id_firstteam_goals').val()
		$('#id_firstteam_goals').val($('#id_secondteam_goals').val());
		$('#id_secondteam_goals').val(x);
		loadMatchRealtime();
	});
});

</script>
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container">
<form id="new-match-form" method="post">{% csrf_token %}
	{% if form.fields.firstteam.choices|length > 2 %}
		{% if form.errors %}
		  		<div class="alert alert-danger" role="alert">
		  			{{ form.errors.error }}
			</div>
		{% else %}
		  		<div class="alert alert-success" role="alert">
				Don't forget to save when the game is finished.
			</div>
		{% endif %}
	{% else %}
		<div class="alert alert-danger" role="alert">
			A Match needs at least 2 teams/player-teams. <a href="{% url 'player-new' %}" class="btn btn-warning">Create them first</a>
		</div>
	{% endif %}
<table id="match-form" class="table table-bordered table-hover">
   	<tr>
		<td>{{ form.firstteam }}</td>
		<td title="switch teams" rowspan=2 class="middle"><strong>vs.</strong><br /><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6.99 11L3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		</td>
		<td>{{ form.secondteam }}</td>
   	</tr>
   	<tr>
		<td id="firstteam-controls">
			<input class="plus btn btn-success" type="button" value="+" onclick="increment($('#id_firstteam_goals'))" />
			{{ form.firstteam_goals }}
			<input class="minus btn btn-danger" type="button" value="-" onclick="decrement($('#id_firstteam_goals'))" />
		</td>
		<td id="secondteam-controls">
			<input class="plus btn btn-success" type="button" value="+" onclick="increment($('#id_secondteam_goals'))" />
			{{ form.secondteam_goals }}
			<input class="minus btn btn-danger" type="button" value="-" onclick="decrement($('#id_secondteam_goals'))" />
		</td>
   	</tr>
   	
</table>
<input class="btn btn-primary btn btn-block" type="submit" value="Game finished (save)" />
</form>
</div>
<div class="container-fluid">
	<div id="match-realtime" class="row" style="margin-top:40px"></div>
</div>
{% endblock %} 