{% load join_by_attr signed dict_get attrib_get list_get round to_percent elements %}
<span data-href="{% url 'match-details' match.pk %}" class="popover-lazy btn badge badge-{% if match.goal_difference > 0 %}{{ t1class }}{% elif match.goal_difference < 0 %}{{ t2class }}{% else %}light{% endif %}"
	tabindex="0" data-trigger="focus" data-title="Details match #{{ match.id }}" data-toggle="popover-lazy">
	{{ match.firstteam_goals }}:{{ match.secondteam_goals }}
	{% if t1show %} {{ match.firstteam.name }}{% endif %}
	{% if t1show or t2show %} vs.{% endif %}
	{% if t2show %} {{ match.secondteam.name }}{% endif %}
</span>
