body, html {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
}
body{
	font-size:1em;
	background: #a8c296; /* Old browsers */
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 66%;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#main-nav{
	-webkit-box-shadow: 0 0 3px 3px #858585;
	box-shadow: 0 0 3px 3px #858585;
}
ul{
	padding-left:15px;
	margin-bottom:0;
}
.ul-disabled, #id_count, #id_players{
	list-style-type: none;
	padding-left: 0;
}

.active{
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.win *{color: green;}
.draw *{color: #575757;}
.lose *{color: red;}

.table-responsive, #content .bg{
	background-color: white;
	padding: 10px;
	border: 1px solid grey;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 3px 3px #858585;
	box-shadow: 0 0 3px 3px #858585;
}
nav form{
	background-color: white;
	padding: 5px;
	border: 1px solid grey;
}
nav form > *{
	margin: 0 5px;
}

#main-nav{
	margin-bottom: 20px;
}

.helptext{
	display: none;
	list-style-type: none;
}
input:focus ~ .helptext{
	display: block;
}

.badge{
	margin: 1px;
}

.progress{
	height: 30px;
	width: 100%;
}

.progress-realtime{
	height: 15px!important;
	opacity:0.6;
}

#teams-realtime .bg-success{
	background-color: #28a74580 !important;
}
#teams-realtime .bg-danger {
	background-color: #dc354580 !important;
}
#teams-realtime .bg-dark {
	background-color: #343a4080 !important;
}
#teams-realtime .bg-warning {
	background-color: #ffc107b3 !important;
}

#id_nick, #id_teamname, #id_username, #id_password, #id_password1, #id_password2{
	width: 100%;
}

#id_count li{
	float:left;
	margin-right: 10px;
}
#id_count label{
	margin: 0;
}

#match-form td{
border: 0;
}
#match-form, #match-form input, #match-form select{
	text-align: center;
}
#id_firstteam, #id_secondteam{
	height: 30px;
}
#id_firstteam_goals, #id_secondteam_goals, .plus, .minus{
	height: 70px;
}
#firstteam-controls *{
	float: left;
}
#secondteam-controls *{
	float: right;
}

#id_firstteam, #id_secondteam{
	width: 100%;
}
#id_firstteam_goals, #id_secondteam_goals{
	width: 29%;
	min-width:50px;
}
.plus{
	width: 50%;
}
.minus{
	width: 20%;
}
.middle{
	display: table-cell;
	vertical-align: middle!important;
}

@media (min-width: 858px) {
    html {
        font-size: 1em;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 1em;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 1em;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 1em;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 1em;
    }
}