{% load static %}{% csrf_token %}{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>
	<script src="{% static "bootstrap-4.1.2-dist/js/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "bootstrap-4.1.2-dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "fontawesome-free-5.1.0-web/css/all.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "DataTables-1.10.18/css/dataTables.bootstrap4.min.css" %}"/>
	<script type="text/javascript" src="{% static "DataTables-1.10.18/js/jquery.dataTables.min.js" %}"></script>
	<script type="text/javascript" src="{% static "DataTables-1.10.18/js/dataTables.bootstrap4.min.js" %}"></script>

	<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
	<script>
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
	<script src="{% static "js/base.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/base.css" %}"/>
	{% block head %}
	{% endblock %}
</head>
<body>
<nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="btn btn-outline-success navbar-brand" href="/matchmaker/">Matchmaker</a>
  <a class="btn btn-outline-success navbar-brand" href="/new/match/">Match</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/ladder/">Ladder</a>
      </li>

      <li class="nav-item <!--active-->">
        <a class="nav-link" href="/match/">Matches<span class="sr-only">(current)</span></a>
      </li>

	<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          New
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/new/team/">Team</a>
	          <a class="dropdown-item" href="/new/player/">Player</a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0" method="post" action="/set/date/">{% csrf_token %}
      <label for="id_from">From:{{time_range_form.from}}</label>
      <label for="id_to">To:{{time_range_form.to}}</label>
      <input type="hidden" name="next" value="{{ request.path }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
    </form>
  </div>
</nav>

	<div class="container">
		<div class="row">
		 <div class="col-sm">
	            {% block content %}
			    {% endblock %}
		    </div>
		    </div>
	</div>
</body>
</html>
