{% load static %}{% csrf_token %}{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>
	<script src="{% static "bootstrap-4.1.2-dist/js/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "bootstrap-4.1.2-dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "fontawesome-free-5.1.0-web/css/all.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "DataTables-1.10.18/css/dataTables.bootstrap4.min.css" %}"/>
	<script type="text/javascript" src="{% static "DataTables-1.10.18/js/jquery.dataTables.min.js" %}"></script>
	<script type="text/javascript" src="{% static "DataTables-1.10.18/js/dataTables.bootstrap4.min.js" %}"></script>

	<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
	<script>
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
	<script src="{% static "js/base.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/base.css" %}"/>
	{% block head %}
	{% endblock %}
</head>
<body>
<nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="btn btn-outline-success navbar-brand" href="{% url 'matchmaker' %}">Matchmaker</a>
  <a class="btn btn-outline-success navbar-brand" href="{% url 'match-new' %}">Match</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'ladder' %}">Ladder</a>
      </li>

      <li class="nav-item <!--active-->">
        <a class="nav-link" href="{% url 'match-list' %}">Matches<span class="sr-only">(current)</span></a>
      </li>

	<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Create New
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="{% url 'team-new' %}">Team</a>
	          <a class="dropdown-item" href="{% url 'player-new' %}">Player</a>
     </li>
      <li class="nav-item <!--active-->">
        <a class="nav-link" href="{% url 'home' %}">Manual</a>
      </li>

      <li class="nav-item <!--active-->">
		{% if request.user.is_authenticated %}
			<a class="nav-link" href="{% url 'logout' %}">Log out {{ request.user.username }}</a>
		{% else %}
			<a href="#" class="nav-link" data-placement="bottom" data-toggle="popover" data-trigger="click" data-title="Login" data-container="body" data-html="true">
			<div class="d-none popover-content">
				<form method="post" action="{%url 'login'%}">{% csrf_token %}
					{{ login_form }}
				<button class="btn btn-primary btn-block mt-3" type="submit">Login</button>
				</form>
			</div>
			Log in</a>
		{% endif %}
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'set-date' %}">{% csrf_token %}
      <label for="id_from">From:{{time_range_form.frm}}</label>
      <label for="id_to">To:{{time_range_form.to}}</label>
      <input type="hidden" name="next" value="{{ request.path }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
    </form>
  </div>
</nav>

	<div id="content" class="container-fluid">
		<div class="row">
		 <div class="col-sm">
	            {% block content %}
			    {% endblock %}
		    </div>
	    </div>
	</div>
</body>
</html>
