{% load static %}{% csrf_token %}{% load humanize %}
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>
	<script src="{% static "bootstrap-4.1.2-dist/js/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "bootstrap-4.1.2-dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "fontawesome-free-5.1.0-web/css/all.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "DataTables-1.10.18/css/dataTables.bootstrap4.min.css" %}"/>
	<script type="text/javascript" src="{% static "DataTables-1.10.18/js/jquery.dataTables.min.js" %}"></script>
	<script type="text/javascript" src="{% static "DataTables-1.10.18/js/dataTables.bootstrap4.min.js" %}"></script>

	<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
	<script>
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		{%if room.id_%}var roomid = {{ room.id_ }}{%endif%}
	</script>
	<script src="{% static "js/base.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/base.css" %}"/>
	{% block head %}
	{% endblock %}
</head>
<body>
<nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/matchmaker/">Matchmaker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

	<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          New
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/new/match/">Match</a>
	          <a class="dropdown-item" href="/new/team/">Team</a>
	          <a class="dropdown-item" href="/new/player/">Player</a>
	          <!-- <div class="dropdown-divider"></div>
          		<a class="dropdown-item" href="#">Something else here</a>
	          </div>  -->
      </li>
      <!-- <li class="nav-item active" title="Finds the best Teamconstellation based on player strength">
        <a class="nav-link" href="/matchmaker/">Matchmaker<span class="sr-only">(current)</span></a>
      </li> -->

      <li class="nav-item <!--active-->">
        <a class="nav-link" href="/match/">Match<span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/team/">Team</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/player/">Player</a>
      </li>
    </ul>
  </div>
</nav>
	<div class="container">
		<div class="row">
		 <div class="col-12 col-md-12">
	            {% block content %}
			    {% endblock %}
		    </div>
		    </div>
	</div>
</body>
</html>
