""" This file contains site-specific settings """
__all__ = ['ALLOWED_HOSTS', 'SECRET_KEY']
ALLOWED_HOSTS = []
SECRET_KEY = ''

''' Original secret_key method
from django.utils.crypto import get_random_string
chars = 'abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)'
print(get_random_string(50, chars))
'''